@import "./reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap&subset=latin-ext');

.page {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}

.title {
    padding: 5px;
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    background-color: #b9a4bd;
}

.nav-menu {
    background-color: #948496;
}

.menu {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

.menu:hover {
    background-color: #bda8bf;
    border-radius: 5px;
}

.content {
    background-color: #7e9c9a;
    border-radius: 0px;
    margin-top: 0px;
    grid-gap: 20px;
}

.projects {
    background-color: #7e9c9a;
    border-radius: 10px;
}

.card {
    padding: 5px;
}

.text {
    background-color: #abc4c3;
    padding: 25px;
    border-radius: 10px;
    margin: 10px 5px 10px 5px;
}

.post-date {
    font-style: italic;
    margin-top: 10px;
}

.website-pic {
    height: 150px;
    margin-top: 8px;
    border: 1pt solid #7e9c9a;
    padding: 5px;
}

.form-box {
    padding-left: 100px;
    margin-top: 20px;
}

form.form {
    display: table;
}

div.form {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.button-style {
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid #b5576e;
    background-color: #b56075;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
    text-align: center;
}

.button-style:hover {
    background-color:#b07684;
}

.button-style:active {
    box-shadow: inset -2px -2px 3px #b08690
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.main-link {
    text-decoration: underline;
    margin-left: 3px;
}

.footer {
    background-color: #948496;
    flex-direction: column;
    padding-top: 5px;
    height: 120px;
}

.social {
    padding: 5px;
    display: inline-block;
    list-style-type: none;
    width: 30px;
    height: 30px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .head {
        height: 80px;
    }

    .nav-menu {
        height: 120px;
    }

    .menu {
        display: block;
        padding: 1px;
    }

    .content {
        min-height: calc(100vh - 200px);
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .head,
    .nav-menu {
        height: 80px;
    }

    .content {
        width: 100%;
        min-height: calc(100vh - 165px);
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .head,
    .nav-menu {
        height: 100px;
    }

    .page {
        width: 960px;
        margin: 0 auto;
    }

    .projects {
        grid-auto-rows: 1fr;
        align-items: flex-start;
    }

    .content {
        min-height: calc(100vh - 200px);
    }
}
